<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Detail Produk</title>
  </head>
  <body>
    <header>
      <a href="#" class="logo"><img src="/logo.png" alt="logo" /></a>

      <ul class="navmenu">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Tentang</a></li>
        <li><a href="#">Kontak</a></li>
        <li><a href="#">Area Pengiriman</a></li>
      </ul>

      <div class="nav-icon">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="profile.html" id="profileLink"
          ><i class="fa-solid fa-user"></i
        ></a>
        <a href="#" id="logout"
          ><i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </div>
    </header>

    <main>
      <div class="container">
        <section class="product-detail">
          <div class="farmer-info">
            <div class="farmer-image-container">
              <div class="farmer-image"></div>
              <button class="check-store-button">Cek Toko</button>
            </div>
            <div class="farmer-details">
              <h2>Petani</h2>
              <p class="farmer-name">Sayur Box</p>
              <p class="farmer-location">Bandung</p>
              <div class="organic-level">
                <h3>Tingkat Keorganisasian</h3>
                <button class="organic-button">Organik</button>
                <p>
                  Lorem ipsum dolor sit amet consectetur. Quis ultricies nisi
                  libero pulvinar augue ut egestas tellus magna. Sem metus nunc
                  vestibulum quis nunc ut leo imperdiet. Porttitor mus etiam mi
                  amet odio. Pretium ut ut at gravida ornare.
                </p>
              </div>
              <div class="product-benefits">
                <h3>Tingkat Produk & Manfaatnya</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur. Pellentesque lectus
                  fringilla lectus tempus magna sem imperdiet. Vitae ac non
                  pellentesque nibh scelerisque tempus.
                </p>
              </div>
            </div>
          </div>
          <div class="product-info">
            <h2>Apel</h2>
            <div class="discount">
              <span class="discount-rate">12%</span>
              <span class="original-price">Rp. 48.000</span>
            </div>
            <div class="price">
              <span class="current-price">Rp. 42.000</span> / 1 kg
            </div>
            <div class="rating">
              <span class="star">★</span>
              <span class="rating-value">3.5</span>
              <span class="review-count">(20)</span>
            </div>
            <button class="buy-button">Beli</button>
            <button class="share-button">Share</button>
          </div>
        </section>
        <section class="related-products">
          <h3>Sering dibeli bersama</h3>
          <div class="related-product-list">
            <div class="related-product-item"></div>
            <div class="related-product-item"></div>
            <div class="related-product-item"></div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
